<header class="h-100 ">
  <mdb-navbar  SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav " [containerInside]="true">
    <mdb-navbar-brand >
      <a class="logo navbar-brand" href="#">
        <strong>TargetBot</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav  ">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link">Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#targeting">Targeting</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#sobre">Sobre targetbot</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-white text-center wow fadeInUp">
         
          <div class="row justify-content-center align-items-center minh-100">
            <div class="col-lg-12">
        
              <div>
                <img src="../assets/nsns.png" width="100" height="80">
                <h1>TargetBot</h1>

                <br>
                <h5>Es la herramienta que te ayudará a obtener una lista de actores y temas.</h5>
                <p>La solución perfecta a los problemas que surgen al realizar un estudio de mercado. Partirás con una lista de actores y temas que sean de tu interés y/o de la organización. Solo bastará con elegir una problemática en particular y las fuentes de las que deseas obtener la información.  </p>
                <br>
                <h4>Si inicias con TargetBot, tus conclusiones serán exitosas.</h4>
      
              </div>
        
            </div>
        
          </div>



        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Navigation-->

<!--Main Layout-->


<main class="text-center py-5" id="targeting">

  <div class="container">
    <div class="row" >
      <div class="col-md-12">
        <h2>Targeting</h2>

        <p align="justify">
          El Targeting es un proceso necesario para focalizar el sistema de escucha de la VS, permitiendo así obtener información relevante. Sin embargo, este proceso, necesita de informacion previa.

        </p>
        <app-ruta-pantalla-buscador></app-ruta-pantalla-buscador>

      </div>
    </div>
  </div>

</main>




<div id="sobre">
  <div class="page-footer font-small mdb-color pt-4 fondoelegante">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Descripción</h6>
          <p>
            Targebot es una herramienta que permita generar listas de actores y temas a ser usada en la fase de Targeting en la Visión Estratégica utilizando bases de datos académicas y periódicos.
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
     
  
        <hr class="w-100 clearfix d-md-none">
  
        
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contactanos</h6>
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon>Ladrón de Guevara E11·253
            Quito · Ecuador
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> targetbot.epn@gmail.com
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 593 096 3849259
          </p>
          
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
  
      <!-- Grid row -->
      
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small blue fondonegro" color="elegant" >

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"> 
    <a href="https://www.epn.edu.ec/"> © 2020 Copyright:Escuela Politécnica Nacional</a>
  </div>
  <!-- Copyright -->

</footer>