.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  background-color: transparent;
}

@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    padding-bottom: 12px;
    padding-top: 12px;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}
}


.top-nav-collapse {
  background-color: #4285F4;

}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285F4;
  }
}
