<div class="container ">







  <!-- Default form register -->
  <form class="text-center border border-light p-5" #f="ngForm" (ngSubmit)="obtenerFormulario(f)" novalidate>

    <p class="h4 mb-4">Criterios de búsqueda</p>


    <input type="text" class="form-control  mb-1" id="BrowQuery" name="BrowQuery" placeholder="Temática"
      autocomplete="off" ngModel />

    <small id="BrowQuery" class="form-text text-muted mb-4">
      Tema general para iniciar a crear la lista de actores y temas.
    </small>







    <div class="row">

      <p class="h5 mb-3 col-md-12">Fuentes de información</p>


      <div class="col-md-6 mb-4">
        <small id="BrowQuery" class="form-text text-muted mb-2">
          Ingles
        </small>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" [disabled]="comerciomodel || doajmodeles" class="custom-control-input" name="nyts" [(ngModel)]="nytmodel" id="nyt">
          <label class="custom-control-label" for="nyt">The New York Times</label>
        </div>


        <div class=" custom-control custom-checkbox">
          <input type="checkbox" [disabled]="comerciomodel || doajmodeles" class="custom-control-input" name="springer" [(ngModel)]="springermodel" id="springer">
          <label class="custom-control-label" for="springer">Springer</label>
        </div>

        <div class=" custom-control custom-checkbox">
          <input type="checkbox" [disabled]="comerciomodel || doajmodeles" class="custom-control-input" name="doaj" [(ngModel)]="doajmodel" id="doaj">
          <label class="custom-control-label" for="doaj">DOAJ</label>
        </div>


      </div>
      <div class="col-md-6">
        <small id="BrowQuery" class="form-text text-muted mb-2">
          Español
        </small>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" [disabled]="springermodel || doajmodel || nytmodel" class="custom-control-input" name="comercio" [(ngModel)]="comerciomodel" id="comercio">
          <label class="custom-control-label" for="comercio">El comercio</label>
        </div>

        <div class=" custom-control custom-checkbox">
          <input type="checkbox" [disabled]="springermodel || doajmodel || nytmodel" class="custom-control-input" name="doajes" [(ngModel)]="doajmodeles" id="doajes">
          <label class="custom-control-label" for="doajes">DOAJ</label>
        </div>


      </div>

    </div>



    <div class="row">
      <p class="h5 mb-3 col-md-12">Palabras clave</p>

      <div class="col-md-12">

        <form #formularioPC="ngForm" novalidate>


          <input type="text" id="BrowPCx" name="BrowPCx" [(ngModel)]="palabraClave" class="form-control"
            placeholder="Palabra clave" aria-describedby="palabraCD">
          <small id="palabraCD" class="form-text text-muted mb-2">
            Opcional: puede ingresar palabras claves que orienten la creación de las listas
          </small>



          <datalist id="browpc">
            <option *ngFor="let cbxpc of cbxpcs" value={{cbxpc}}>
          </datalist>

          <button *ngIf="botonProcesarActivado" type="button" mdbBtn color="success" mdbWavesEffect
            (click)="agregarPalabra()">
            Agregar palabra
          </button>
        </form>

      </div>



      <div class="col-md-12">
        <div *ngFor="let cbxpc of cbxpcs">

          <button mdbBtn type="button" size="sm" color="elegant" mdbWavesEffect icon="pi pi-times"
            (click)="eliminarElemento(cbxpc)">
            {{cbxpc}} <strong>X</strong>
          </button>

        </div>
      </div>

    </div>




    <div class="alert alert-danger" *ngIf="presentarAlerta" role="alert">
      Debe seleccionar al menos una fuente de información
    </div>


    <img *ngIf="!botonProcesarActivado" class="imagenResponsive" src="../../../assets/internetcargado.gif" alt="">

    <button *ngIf="botonProcesarActivado" class="btn btn-info my-4 btn-block" type="submit"
      [disabled]="!f.dirty">Generar lista</button>







  </form>

  <ng-progress #progressBar direction=ltr speed=2000 trickleSpeed=9000 debounceTime=500 meteor=true spinner=flase
    spinnerPosition=right thick=true fixed=true min=1 max=99 ease=linear color=blue started=onStarted()
    completed=onCompleted()></ng-progress>


  <!--

  <form (ngSubmit)="pruebBoton(f)" novalidate>
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <h2>Criterios de Búsqueda</h2>
      </div>
      <div class="col-lg-4">
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6">

        <div class="input-group mb-6">
          <div class="input-group-prepend">

            <label class="input-group-text" for="BrowQuery">Query</label>
          </div>
          <input type="text" class="form-control" id="BrowQuery" name="BrowQuery" autocomplete="off" ngModel />

        </div>
      </div>
      <div class="col-lg-6">
        <div class="input-group mb-6">
          <div class="input-group-prepend">
            <label class="input-group-text" for="BrowEstado">Fuente de la Informacion</label>
          </div>
          <input class="custom-select" list="browestados" id="BrowEstado" name="BrowEstado" autocomplete="off"
            ngModel />
          <datalist id="browestados">
            <option *ngFor="let cbxestad of cbxestado" value={{cbxestad}}>
          </datalist>
        </div>
      </div>

    </div>
    <div class="row">
      <br>
    </div>
    <div class="row">

      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary" [disabled]="!f.dirty"> Generar Lista
        </button>
      </div>

      <div class="col-lg-8">

        <table class="ui-table-responsive">
          <h6>Opcional</h6>
          <tr>

            <td>
              <form #formularioPC="ngForm" novalidate>
                <div class="input-group-prepend">




                  <label class="input-group-text" for="BrowPCx">Ingresar Palabras claves</label>
                </div>

                <input class="custom-select" list="browpc" id="BrowPCx" name="BrowPCx" ngModel />
                <datalist id="browpc">
                  <option *ngFor="let cbxpc of cbxpcs" value={{cbxpc}}>
                </datalist>

                <button (click)="onClickRol(formularioPC)">
                  Agregar roles
                </button>
              </form>
            </td>

            <td>


              <p>Eliminar Palabras claves</p>

              <div *ngFor="let cbxpc of cbxpcs">

                <button pButton type="button" icon="pi pi-times" (click)="onClickMx(cbxpc)">
                  {{cbxpc}} <strong>X</strong>
                </button>

              </div>
            </td>



          </tr>
        </table>
      </div>


    </div>
  </form>
-->

</div>







<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="table-responsive">
        <p-table [columns]="tituloActores" [(value)]="ActoresA" [paginator]="true" [rows]="10" *ngIf="estadotabla">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" style="color: #fff; background-color: #337ab7; border-color: #337ab7;">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ActoresA>
            <tr>
              <td valign="top">{{ActoresA[0]}}
              </td>
              <td valign="top">{{ActoresA[1]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="table-responsive">
        <p-table [columns]="tituloTemas" [(value)]="TemasA" [paginator]="true" [rows]="10" *ngIf="estadotabla">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" style="color: #fff; background-color: #337ab7; border-color: #337ab7;">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-TemasA>
            <tr>
              <td valign="top">{{TemasA[0]}}
              </td>
              <td valign="top">{{TemasA[1]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>